<!DOCTYPE html>

<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>🪷 barelyzen - [[TITLE]]</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="barelyzen" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://barelyzen.me" />
        <meta property="og:description" content="This could be such a cool blog" />
        <meta property="og:site_name" content="barelyzen" />

        <link rel="stylesheet" href="../assets/css/main.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/article.css" type="text/css">

        <script defer src="https://analytics.eu.umami.is/script.js" data-website-id="08c75eaa-e2cb-4b2f-8757-3b5dad0ca857"></script>
    </head>

    <body>
        <div class="container">

            <div class="header">
                <h1 class="header__title"><a href="../index.html">🪷 barelyzen</a></h1>
                <p class="header__subtitle">I have approximate knowledge of many things</p>
            </div>

            <div class="article">
                [[CONTENT]]
            </div>

        </div>

        <script src="../assets/js/script.js"></script>
    </body>
</html>
