@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Noto+Sans+Mono&display=swap');
@import url('./reset.css');

.container {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.header {
    margin-bottom: 70px;
    text-align: center;
}

.header__title {
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 0px;
}


.header__title a,
.header__tiitle a:visited,
.header__tiitle a:hover {
    font-family: 'New Tegomin', serif;
    color: #000000;
    text-decoration: none;
}

.secondary-text {
    color: #888888;
}

.section {
    margin-bottom: 70px;
}

.section.posts li {
    margin-bottom: 5px;
}

.section p {
    padding-left: 10px;
}
